<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!--- JDBC -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/hospital_db1
        </property>

        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Ri$hiRao123</property>

        <!-- Dialect -->
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <!-- Hibernate behavior -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- HikariCP integration -->
        <property name="hibernate.connection.provider_class">
            org.hibernate.hikaricp.internal.HikariCPConnectionProvider
        </property>

        <property name="hibernate.hikari.minimumIdle">5</property>
        <property name="hibernate.hikari.maximumPoolSize">10</property>
        <property name="hibernate.hikari.idleTimeout">30000</property>
        <property name="hibernate.hikari.poolName">HospitalHikariCP</property>


        <mapping class="org.raoamigos.entity.Patient" />
        <mapping class="org.raoamigos.entity.MedicalRecord" />
        <mapping class="org.raoamigos.entity.Department" />
        <mapping class="org.raoamigos.entity.Doctor" />
        <mapping class="org.raoamigos.entity.Appointment" />
        <mapping class="org.raoamigos.entity.Prescription" />

    </session-factory>
</hibernate-configuration>